
table.ui-table {
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.ui-table th{
    border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.ui-table td {
    border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

table.ui-table th span.desc-sort {
    background-image:url(../img/desc.jpeg);
    width: 20px;
    height: 11px;
    display:inline-block;
}
table.ui-table th span.asc-sort {
    display:inline-block;
    background-image:url(../img/asc.jpeg);
    width: 20px;
    height: 11px;
}

table.ui-table tr.oddrow{
	background-color:#d4e3e5;
}
table.ui-table tr.evenrow{
	background-color:#c3dde0;
}